run = "python main.py"
modules = ["python-3.11:v18-20230807-322e88b"]

[nix]
channel = "stable-23_05"

[deployment]
run = "python main.py"

[env]
PYTHONPATH = "."

[packager]
language = "python3"
ignoredPackages = ["unit_tests"]

[packager.features]
guessImports = true
enabledForHosting = false

[[ports]]
localPort = 8080
externalPort = 80